h1, h2, h3, p {
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
}

#game_video {
  width: 640px;
  height: 360px;
  border-style: none;
}

#app_video {
  width: 560px;
  height: 315px;
  border-style: none;
}

.project {
  border: 1px solid black;
  width: 80%;
  margin: 2% auto;
}

#web_tech_image {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#processor_image {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}


#raytracer_image {
  max-width: 100%;
  height: auto;
}

#rasterizer_image {
  max-width: 100%;
  height: auto;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 48%;
  padding: 5px;
}

.row {
  margin: 0 auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}