body {
  font-family: "Arial", Gadget, sans-serif;
}

h1 {
  text-align: center;
}

#social {
  width: 80%;
  margin: 2% auto;
  padding: 1%;
}

#intro {
  width: 80%;
  margin: 2% auto;
  padding: 1%;
}

#portfolio {
  width: 80%;
  margin: 2% auto;
  padding: 1%;
}

.project {
  border: 1px solid grey;
  border-radius: 5px;
  width: 80%;
  margin: 2% auto;
  padding: 1%;
}

iframe {
  display: block;
  margin: 0 auto;
}

#game_video {
  width: 100%;
  height: 400px;
}

#app_video {
  width: 100%;
  height: 400px;
}

#web_tech_image {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#processor_image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}


#raytracer_image {
  max-width: 100%;
  height: auto;
}

#rasterizer_image {
  max-width: 100%;
  height: auto;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  max-width: 48%;
  padding: 1%;
}

.row {
  margin: 0 auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}